[package]
name = "typecheck-ts"
version = "0.1.0"
edition = "2021"

[features]
fuzzing = []
capture-backtrace = []

[dependencies]
types-ts = { path = "../types-ts" }

[dev-dependencies]
proptest = "1"
