[submodule "test262/data"]
	path = test262/data
	url = https://github.com/tc39/test262-parser-tests.git
[submodule "parse-js/tests/TypeScript"]
	path = parse-js/tests/TypeScript
	url = https://github.com/microsoft/TypeScript.git
	shallow = true
[submodule "test262-semantic/data"]
	path = test262-semantic/data
	url = https://github.com/tc39/test262.git
	shallow = true
	ignore = untracked
