[workspace]
resolver = "2"
members = [
  "diagnostics",
  "bench/minify-js",
  "minify-js-cli",
  "minify-js-nodejs",
  "minify-js",
  "optimize-js-debugger",
  "optimize-js",
  "parse-js-cli",
  "parse-js",
  "symbol-js",
  "types-ts",
  "types-ts-interned",
  "types-ts-relate11",
  "hir-js",
  "typecheck-ts",
  "test262",
]

[profile.release]
codegen-units = 1
lto = true
opt-level = 3
strip = true

[profile.release.package."*"]
codegen-units = 1
opt-level = 3

[profile.release-with-debug]
inherits = "release"
debug = true
strip = "none"
