[package]
name = "typecheck-ts-w106"
version = "0.1.0"
edition = "2021"

[features]
fuzzing = []

[dependencies]
hir-js-w106 = { path = "../hir-js-w106" }
parse-js = { path = "../parse-js" }
thiserror = "1"

[dev-dependencies]
proptest = "1"
